body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
  text-align: center;
}

.weather-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#location {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

#temperature {
  font-size: 48px;
  font-weight: bold;
}

#time,
#date {
  font-size: 18px;
}

/* Ellipse with "Edit" styles */
.edit-ellipse {
  width: 100px; /* Adjust the width of the ellipse */
  height: 50px; /* Adjust the height of the ellipse */
  background-color: #007bff; /* Blue color for the ellipse */
  color: #fff; /* Text color */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Make it an ellipse */
  margin: 20px auto; /* Center the ellipse horizontally and add spacing */
  font-weight: bold;
  font-size: 18px; /* Adjust the font size */
  cursor: pointer; /* Add a pointer cursor to indicate interactivity */
}


/* Background images based on the slide */
.slide1 {
  background-image: url('dark_background.jpg');
  background-color: #f3f3f3; /* Fallback color */
}

.slide2 {
  background-image: url('light_background.jpg');
  background-color: #f3f3f3; /* Fallback color */
}

